Repository victor-enogwe/ng-dotlottie-web: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, check:types

lefthook.yml:

rc: $(git rev-parse --show-toplevel)/.lefthook.sh
pre-push:
  jobs:
    - name: format
      run: pnpm format

pre-commit:
  parallel: true
  commands:
    format:
      glob: '**/*.{js,mjs,cjs,ts,mts,cts,json,md,*css,html,md,yml}'
      run: pnpm format
      stage_fixed: true
    lint:
      glob: '**/*.{js,mjs,cjs,ts,mts,cts,json,md,*css,html,md}'
      run: pnpm lint
      stage_fixed: true
    check:types:
      glob: '**/*.{mts,ts}'
      run: pnpm tsc

commit-msg:
  parallel: true
  commands:
    commitlint:
      run: pnpm commitlint --edit $1

test(jest): add MockOffscreenCanvas and enhance global environment setup
  jest.env.ts
Due: none

test(jest): enhance zone test environment by adding rethrowErrors option
  jest.setup-zone.ts
Due: none

test(jest): enable rethrowErrors option in zoneless test environment setup
  jest.setup-zoneless.ts
Due: none

test(jest): update setupFiles to include jsdom-worker for improved testing environment
  jest.config.ts
Due: none

chore: rename main package.json project name to ngx-dotlottie and add jsdom-worker dependency
  package.json
  pnpm-lock.yaml
Due: none

test(jest): add basic test structure for component
  ngx-dotlottie-web/src/web/src/lib/components/dotlottie-web/dotlottie-web.component.spec.ts
Due: format, lint, check:types

test(jest): validate worker component workerId input
  ngx-dotlottie-web/src/webworker/src/lib/components/dotlottie-webworker/dotlottie-webworker.component.spec.ts
Due: format, lint, check:types

chore: add pnpm-lock.yaml to .prettierignore
  .prettierignore
Due: none

chore: format package.json and tsconfig files for consistency
  ngx-dotlottie-web/package.json
  package.json
  tsconfig.json
  tsconfig.spec.json
Due: format, lint

chore: update .npmrc to include public hoist pattern for canvas
  .npmrc
Due: none

ci: enhance CI workflow with rebuild, type check, linting, and formatting steps
  .github/workflows/ci.yml
  ngx-dotlottie-web/package.json
  package.json
Due: format, lint

ci: update CI workflow to install latest node-gyp and remove redundant rebuild step
  .github/workflows/ci.yml
Due: format

ci: update Node.js version to 20.18.1 and remove redundant node-gyp rebuild step
  .github/workflows/ci.yml
Due: format

ci: update Node.js version to 20.x and add global installation of canvas
  .github/workflows/ci.yml
Due: format

ci: update canvas to version 3.1.0
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
Due: format

refactor: remove direct LoadErrorEvent handling, due to ngOndestroy. let user decide
  ngx-dotlottie-web/src/web/src/lib/components/dotlottie-web/dotlottie-web.component.ts
Due: format, lint, check:types

refactor: remove detectOpenHandles from Jest configuration
  jest.config.ts
Due: none

refactor: change fetch cache option from 'default' to 'force-cache'
  jest.env.ts
Due: none

refactor: remove LoadErrorEvent type from DotLottieWebComponentOutput interface
  ngx-dotlottie-web/src/web/src/lib/@types/dotlottie-web.ts
Due: format, lint, check:types

refactor: move lottie event handling to sole user discretion
  ngx-dotlottie-web/src/web/src/lib/components/dotlottie-web/dotlottie-web.component.ts
Due: format, lint, check:types

refactor: simplify DotLottieWebComponentOutput by removing unused event types
  ngx-dotlottie-web/src/web/src/lib/@types/dotlottie-web.ts
Due: format, lint, check:types

refactor: streamline DotLottieWebComponent tests by simplifying component creation and input handling
  ngx-dotlottie-web/src/web/src/lib/components/dotlottie-web/dotlottie-web.component.spec.ts
Due: format, lint, check:types

refactor: update Jest configuration to collect coverage from TypeScript files in specified roots
  jest.config.ts
Due: none

test(component): update test sources to use external URLs
  ngx-dotlottie-web/src/web/src/lib/components/dotlottie-web/dotlottie-web.component.spec.ts
Due: format, lint, check:types

refactor: add additional animation files to server preload configuration
  ngx-dotlottie-demo/src/app/app.config.server.ts
Due: format, lint, check:types

refactor: add spellcheck allowed words
  .vscode/settings.json
Due: format, lint

test(fixtures): add lottie dragon and markers files
  ngx-dotlottie-demo/cypress/fixtures/dragon.json
  ngx-dotlottie-demo/cypress/fixtures/markers.json
Due: format, lint

refactor: streamline contributors and keywords formatting in package.json
  ngx-dotlottie-web/package.json
  package.json
Due: format, lint

refactor: add type annotations for dotlottieWebURL and dotlottieWebworkerURL
  ngx-dotlottie-demo/src/app/components/app/app.component.ts
Due: format, lint, check:types

test: enable AppComponent tests and improve teardown handling
  ngx-dotlottie-demo/src/app/components/app/app.component.spec.ts
Due: format, lint, check:types

test: enable DotlottieWebCanvasComponent tests and improve teardown handling
  ngx-dotlottie-demo/src/app/components/dotlottie-web-canvas/dotlottie-web-canvas.component.spec.ts
Due: format, lint, check:types

feat: implement isURLOrPath utility function with comprehensive tests
  ngx-dotlottie-web/src/web/src/lib/utils/is-url-or-path/is-url-or-path.spec.ts
  ngx-dotlottie-web/src/web/src/lib/utils/is-url-or-path/is-url-or-path.ts
Due: format, lint, check:types

feat: add isTwoEqualArrayBuffers utility function with unit tests
  ngx-dotlottie-web/src/web/src/lib/utils/is-two-equal-array-buffers/is-two-equal-array-buffers.spec.ts
  ngx-dotlottie-web/src/web/src/lib/utils/is-two-equal-array-buffers/is-two-equal-array-buffers.ts
Due: format, lint, check:types

feat: implement getSrcLength utility function with unit tests
  ngx-dotlottie-web/src/web/src/lib/utils/get-src-length/get-src-length.spec.ts
  ngx-dotlottie-web/src/web/src/lib/utils/get-src-length/get-src-length.ts
Due: format, lint, check:types

refactor: optimize buffer creation in DotLottieWebTransferStateService
  ngx-dotlottie-web/src/common/src/lib/services/dotlottie-web-transfer-state/dotlottie-web-transfer-state.service.ts
Due: format, lint, check:types

feat: update dotlottieURL type to use Config['data'] for improved type safety
  ngx-dotlottie-demo/src/app/components/dotlottie-web-canvas/dotlottie-web-canvas.component.ts
Due: format, lint, check:types

feat: extend src type in DotLottieWebComponentInputType to include Config['data']
  ngx-dotlottie-web/src/web/src/lib/@types/dotlottie-web.ts
Due: format, lint, check:types

feat: enhance DotLottieWebComponent to support Config['data'] and improve source comparison logic
  ngx-dotlottie-web/src/web/src/lib/components/dotlottie-web/dotlottie-web.component.ts
Due: format, lint, check:types

feat(test): add dotlottie input tests
  ngx-dotlottie-web/src/web/src/lib/components/dotlottie-web/dotlottie-web.component.spec.ts
Due: format, lint, check:types

refactor: simplify DotLottieWebWorkerComponent template and update config method
  ngx-dotlottie-web/src/webworker/src/lib/components/dotlottie-webworker/dotlottie-webworker.component.ts
Due: format, lint, check:types
