Repository victor-enogwe/ng-dotlottie-web: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, check:types

lefthook.yml:

rc: $(git rev-parse --show-toplevel)/.lefthook.sh
pre-push:
  jobs:
    - name: format
      run: pnpm format

pre-commit:
  parallel: true
  commands:
    format:
      glob: '**/*.{js,mjs,cjs,ts,mts,cts,json,md,*css,html,md,yml}'
      run: pnpm format
      stage_fixed: true
    lint:
      glob: '**/*.{js,mjs,cjs,ts,mts,cts,json,md,*css,html,md}'
      run: pnpm lint
      stage_fixed: true
    check:types:
      glob: '**/*.{mts,ts}'
      run: pnpm tsc

commit-msg:
  parallel: true
  commands:
    commitlint:
      run: pnpm commitlint --edit $1

feat: Upgrade Node.js version in CI workflows to 20.x
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/npm-publish.yml
Due: format

chore: Remove canvas dependency and update pnpm-lock.yaml for optional dependencies
  package.json
  pnpm-lock.yaml
Due: none

feat: Rename package to ngx-dotlottie and update publish command in workflows
  .github/workflows/npm-publish.yml
  package.json
Due: format

feat: Add canvas dependency and configure public hoist pattern in .npmrc
  .npmrc
  package.json
  pnpm-lock.yaml
Due: none

feat: Rename package to ngx-dotlottie-web and update publish command to skip git checks
  .github/workflows/npm-publish.yml
  package.json
Due: format

feat: Update .npmrc and package.json for exact saving and public provenance
  .npmrc
  ngx-dotlottie-web/package.json
Due: format, lint

feat: Update npm-publish workflow to add permissions for id-token
  .github/workflows/npm-publish.yml
Due: format

feat: Update npm-publish workflow to grant read permissions for contents
  .github/workflows/npm-publish.yml
Due: format

docs: Update README to reflect package name change and provide usage examples
  README.md
Due: none

fix: Update package.json to reflect new repository and issue links
  ngx-dotlottie-web/package.json
  package.json
Due: format, lint

chore: Bump version to 0.0.0-beta11 in package.json files
  ngx-dotlottie-web/package.json
  package.json
Due: format, lint

docs: Update README with installation and usage instructions for ngx-dotlottie-web; bump version to 0.0.0-beta12
  ngx-dotlottie-web/README.md
  ngx-dotlottie-web/package.json
  package.json
Due: format, lint

test(jest): Accommodate cypress by using Jest's globals for assertions
  ngx-dotlottie-demo/src/app/components/app/app.component.spec.ts
  ngx-dotlottie-demo/src/app/components/dotlottie-web-canvas/dotlottie-web-canvas.component.spec.ts
  ngx-dotlottie-web/src/web/src/lib/components/dotlottie-web/dotlottie-web.component.spec.ts
  ngx-dotlottie-web/src/web/src/lib/utils/is-two-equal-objects/is-two-equal-objects.spec.ts
  ngx-dotlottie-web/src/webworker/src/lib/components/dotlottie-webworker/dotlottie-webworker.component.spec.ts
Due: format, lint, check:types

chore(npm): Update .npmrc with new configurations for package management
  .npmrc
Due: none

chore(gh-pages): remove angular-gh-pages module move towards vercel hosting of demo and docs, Add semantic release package
  .vscode/settings.json
  angular.json
  package.json
  pnpm-lock.yaml
Due: format, lint

chore(test): remove cypress excludes
  ngx-dotlottie-web/package.json
  tsconfig.json
Due: format, lint

chore(types): remove .d.ts from library use ts for declaration relying on compilation to produce .d.ts
  ngx-dotlottie-web/src/common/src/lib/@types/dotlottie-common.ts
  ngx-dotlottie-web/src/ssr/src/lib/@types/dotlottie-ssr.ts
  ngx-dotlottie-web/src/ssr/src/lib/constants/index.ts
  ngx-dotlottie-web/src/web/src/lib/@types/dotlottie-web.ts
  ngx-dotlottie-web/src/webworker/src/lib/@types/dotlottie-webworker.ts
Due: format, lint, check:types

feat(transfer-state): enhance get method to handle ArrayBuffer and improve type handling
  ngx-dotlottie-web/src/common/src/lib/services/dotlottie-web-transfer-state/dotlottie-web-transfer-state.service.ts
Due: format, lint, check:types

refactor(ssr): optimize file reading with async/await and improve caching logic
  ngx-dotlottie-web/src/ssr/src/lib/services/dotlottie-web-ssr/dotlottie-web-ssr.service.ts
Due: format, lint, check:types

test(jest): update test spec to use Jest's expect for assertions
  ngx-dotlottie-web/src/ssr/src/lib/services/dotlottie-web-ssr/dotlottie-web-ssr.service.spec.ts
Due: format, lint, check:types

feat(ssr): add DotLottie web SSR options for animation preloading
  ngx-dotlottie-demo/src/app/app.config.server.ts
  ngx-dotlottie-demo/src/app/app.config.ts
Due: format, lint, check:types

feat(ssr): add platform validation to DotLottie SSR provider for server-only usage
  ngx-dotlottie-web/src/ssr/src/lib/providers/dotlottie-web-ssr.provider.ts
Due: format, lint, check:types

fix(dotlottie-web): simplify transfer state retrieval in setSrc method
  ngx-dotlottie-web/src/web/src/lib/components/dotlottie-web/dotlottie-web.component.ts
Due: format, lint, check:types

docs: update README formatting for inputs in components
  README.md
  ngx-dotlottie-web/README.md
Due: format, lint

feat(css): update background color and canvas class for improved layout
  ngx-dotlottie-demo/src/app/components/dotlottie-web-canvas/dotlottie-web-canvas.component.css
  ngx-dotlottie-demo/src/app/components/dotlottie-web-canvas/dotlottie-web-canvas.component.html
  ngx-dotlottie-demo/src/styles.css
Due: format, lint

refactor(dotlottie-web): improve component input handling and event listeners
  ngx-dotlottie-web/src/web/src/lib/@types/dotlottie-web.ts
  ngx-dotlottie-web/src/web/src/lib/components/dotlottie-web/dotlottie-web.component.ts
Due: format, lint, check:types

feat(dotlottie-web): add lottieInit output event
  ngx-dotlottie-web/src/web/src/lib/@types/dotlottie-web.ts
  ngx-dotlottie-web/src/web/src/lib/components/dotlottie-web/dotlottie-web.component.ts
Due: format, lint, check:types

chore: update package.json with project metadata
  ngx-dotlottie-web/package.json
  package.json
  pnpm-lock.yaml
Due: format, lint

chore: remove public-hoist-pattern from .npmrc
  .npmrc
Due: none

chore(eslint): update ESLint configuration for TypeScript
  eslint.config.mjs
Due: none

chore: reorganize package.json scripts and update dependencies
  package.json
  pnpm-lock.yaml
Due: none

chore(lint): lint
  ngx-dotlottie-demo/cypress/support/commands.ts
  ngx-dotlottie-demo/cypress/support/component.ts
  ngx-dotlottie-demo/cypress/support/e2e.ts
  ngx-dotlottie-demo/src/app/app.config.server.ts
  ngx-dotlottie-demo/src/app/app.config.ts
  ngx-dotlottie-demo/src/app/app.routes.server.ts
  ngx-dotlottie-demo/src/app/app.routes.ts
  ngx-dotlottie-demo/src/app/components/app/app.component.spec.ts
  ngx-dotlottie-demo/src/app/components/dotlottie-web-canvas/dotlottie-web-canvas.component.spec.ts
  ngx-dotlottie-demo/src/app/components/dotlottie-web-canvas/dotlottie-web-canvas.component.ts
  ngx-dotlottie-demo/src/app/components/dotlottie-web-controls/dotlottie-web-controls.component.ts
  ngx-dotlottie-demo/src/main.server.ts
  ngx-dotlottie-demo/src/main.ts
  ngx-dotlottie-demo/src/server.ts
  ngx-dotlottie-web/package.json
  ngx-dotlottie-web/schematics/ng-add/index.ts
  ngx-dotlottie-web/src/common/src/lib/services/dotlottie-web-transfer-state/dotlottie-web-transfer-state.service.ts
  ngx-dotlottie-web/src/ssr/src/lib/constants/index.ts
  ngx-dotlottie-web/src/ssr/src/lib/providers/dotlottie-web-ssr.provider.ts
  ngx-dotlottie-web/src/ssr/src/lib/services/dotlottie-web-ssr/dotlottie-web-ssr.service.ts
  ngx-dotlottie-web/src/web/src/lib/@types/dotlottie-web.ts
  ngx-dotlottie-web/src/web/src/lib/components/dotlottie-web/dotlottie-web.component.ts
  ngx-dotlottie-web/src/webworker/src/lib/components/dotlottie-webworker/dotlottie-webworker.component.ts
Due: format, lint, check:types

chore: add header to LICENSE file
  LICENSE.md
Due: none

chore: update SECURITY.md to clarify supported Angular versions and reporting process
  SECURITY.md
Due: none

test: enhance DotLottieWebComponent tests with additional input validation and rendering checks
  ngx-dotlottie-web/src/web/src/lib/components/dotlottie-web/dotlottie-web.component.spec.ts
  ngx-dotlottie-web/src/webworker/src/lib/components/dotlottie-webworker/dotlottie-webworker.component.spec.ts
Due: format, lint, check:types

fix: update event binding for dotlottie-web-controls component
  ngx-dotlottie-demo/src/app/components/dotlottie-web-canvas/dotlottie-web-canvas.component.html
Due: format, lint

test(jest): Jest env configuration
  jest.config.js
  jest.env.js
  ngx-dotlottie-web/package.json
  ngx-dotlottie-web/src/common/src/lib/services/dotlottie-web-transfer-state/dotlottie-web-transfer-state.service.ts
  ngx-dotlottie-web/src/web/src/lib/components/dotlottie-web/dotlottie-web.component.spec.ts
  ngx-dotlottie-web/src/webworker/src/lib/components/dotlottie-webworker/dotlottie-webworker.component.spec.ts
  package.json
  pnpm-lock.yaml
Due: format, lint, check:types

chore: update Jest configuration and add tsconfig.spec.json for improved testing setup
  angular.json
  jest.config.js
  jest.env.js
  ngx-dotlottie-web/src/web/src/lib/components/dotlottie-web/dotlottie-web.component.spec.ts
  package.json
  pnpm-lock.yaml
  tsconfig.json
  tsconfig.spec.json
Due: format, lint, check:types

test(jest): refactor Jest Angular testing testing environment
  .vscode/settings.json
  angular.json
  jest.config.js
  jest.config.ts
  jest.env.ts
  jest.setup-zone.ts
  jest.setup-zoneless.ts
  jest.setup.js
  ngx-dotlottie-demo/src/app/components/app/app.component.spec.ts
  ngx-dotlottie-demo/src/app/components/dotlottie-web-canvas/dotlottie-web-canvas.component.spec.ts
  ngx-dotlottie-demo/tsconfig.spec.json
  ngx-dotlottie-web/tsconfig.schematics.json
  package.json
  pnpm-lock.yaml
  tsconfig.json
  tsconfig.spec.json
Due: format, lint, check:types

test(jest): add mock observers and enhance global environment setup for testing
  jest.env.ts
Due: none
