Repository victor-enogwe/ng-dotlottie-web: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, check:types

format:
  run: pnpm format
  stage_fixed: true

lint:
  run: pnpm lint
  stage_fixed: true

check:types:
  run: pnpm tsc

test(worker): add workerId input test
  ngx-dotlottie-web/src/webworker/src/lib/components/dotlottie-webworker/dotlottie-webworker.component.spec.ts
Due: format, lint, check:types

chore: update GitHub Actions workflow to use pnpm shorthand and upgrade Codecov action version
  .github/workflows/coverage.yml
Due: format

chore: update Jest configuration to set coverage thresholds and adjust collectCoverageFrom settings
  jest.config.ts
Due: none

chore: format package.json and pnpm-lock.yaml for consistency
  ngx-dotlottie-web/package.json
  package.json
  pnpm-lock.yaml
Due: format, lint

fix: remove unnecessary case for String instance in getSrcLength function
  ngx-dotlottie-web/src/web/src/lib/utils/get-src-length/get-src-length.ts
Due: format, lint, check:types

fix: simplify string comparison in compareSrc method
  ngx-dotlottie-web/src/web/src/lib/components/dotlottie-web/dotlottie-web.component.ts
Due: format, lint, check:types

test(dotlottie-component): add input tests
  ngx-dotlottie-web/src/web/src/lib/components/dotlottie-web/dotlottie-web.component.spec.ts
Due: format, lint, check:types

docs: update README.md to enhance structure and provide detailed component usage information
  README.md
  ngx-dotlottie-web/README.md
Due: format, lint

release: bump package version
  ngx-dotlottie-demo/cypress/fixtures/dragon.json
  ngx-dotlottie-demo/cypress/fixtures/markers.json
  ngx-dotlottie-web/package.json
  package.json
Due: format, lint

docs: update segment prop type in README.md for clarity
  README.md
  ngx-dotlottie-web/README.md
Due: format, lint

ci: add Codecov token to coverage workflow
  .github/workflows/coverage.yml
Due: format

docs: update links in README.md for dotLottie event references
  README.md
  ngx-dotlottie-web/README.md
Due: format, lint

docs: update LICENSE and README.md for improved clarity and branding
  LICENSE.md
  README.md
  ngx-dotlottie-web/README.md
Due: format, lint

docs: reorder badges in README.md for improved visibility
  README.md
  ngx-dotlottie-web/README.md
Due: format, lint

ci: rename CI and coverage workflows for clarity
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  README.md
  ngx-dotlottie-web/README.md
Due: format, lint

chore: update semantic-release(@semantic-release/github) dev dependency.
  ngx-dotlottie-web/package.json
  package.json
  pnpm-lock.yaml
Due: format, lint

chore: @octokit/request fix, package upgrade
  package.json
  pnpm-lock.yaml
Due: none

docs: update installation instructions to include @lottiefiles/dotlottie-web package
  README.md
  ngx-dotlottie-web/README.md
Due: format, lint

chore: dependabot fix "@octokit/request-error" package
  package.json
  pnpm-lock.yaml
Due: none

docs: update import paths for DotLottieWeb components in README files
  README.md
  ngx-dotlottie-web/README.md
Due: format, lint

refactor: remove SSR export from public API
  ngx-dotlottie-web/src/public-api.ts
Due: format, lint, check:types

chore(components): remove CUSTOM_ELEMENTS_SCHEMA,robust rxjs cleanup
  ngx-dotlottie-web/src/web/src/lib/components/dotlottie-web/dotlottie-web.component.ts
  ngx-dotlottie-web/src/webworker/src/lib/components/dotlottie-webworker/dotlottie-webworker.component.ts
Due: format, lint, check:types

Path conditions:
  format: any of: **/*.{js,mjs,cjs,ts,mts,cts,json,md,*css,html,md,yml}
  lint: any of: **/*.{js,mjs,cjs,ts,mts,cts,json,md,*css,html,md}
  check:types: any of: **/*.{mts,ts}
