Repository victor-enogwe/ng-dotlottie-web: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, check:types

format:
  run: pnpm format
  stage_fixed: true

lint:
  run: pnpm lint
  stage_fixed: true

check:types:
  run: pnpm tsc

chore(prettier): Add Prettier configuration for code formatting
  prettier.config.mjs
Due: none

chore(vscode): Add VSCode configuration files for extensions, launch, settings, and tasks
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
Due: format, lint

chore(package): Add initial package.json and pnpm-workspace.yaml for ngx-dotlottie-web module
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore(tsconfig): Add TypeScript configuration file with strict settings and path mappings
  tsconfig.json
Due: none

chore(angular): Add angular.json configuration for ngx-dotlottie-web and ngx-dotlottie-demo projects
  angular.json
Due: none

test(jest): Add initial Jest configuration for testing
  jest.config.js
Due: none

chore(ngx-dotlottie-web): Add initial project files including README, package.json, and ng-package.json
  ngx-dotlottie-web/README.md
  ngx-dotlottie-web/ng-package.json
  ngx-dotlottie-web/package.json
Due: format, lint

feat(ngx-dotlottie-web): Add public API surface for ngx-dotlottie-web module
  ngx-dotlottie-web/src/public-api.ts
Due: format, lint, check:types

feat(ngx-dotlottie-web): Implement setWasmURL function to configure WASM module
  ngx-dotlottie-web/src/lib/utils/set-wasm.ts
Due: format, lint, check:types

feat(ngx-dotlottie-web): Add DotLottieWebTransferStateService for managing ssr transfer state
  ngx-dotlottie-web/src/lib/services/dotlottie-web-transfer-state/dotlottie-web-transfer-state.service.ts
Due: format, lint, check:types

feat(ngx-dotlottie-web): Implement DotLottieWebService for providing app initializer
  ngx-dotlottie-web/src/lib/services/dotlottie-web/dotlottie-web.service.ts
Due: format, lint, check:types

feat(ngx-dotlottie-web): Add provider for DotLottieWeb SSR options and app initializer
  ngx-dotlottie-web/src/lib/providers/dotlottie-web.provider.ts
Due: format, lint, check:types

feat(ngx-dotlottie-web): Add Component, CSS styles and unit tests for DotLottieWebComponent
  ngx-dotlottie-web/src/lib/@types/dotlottie-web.d.ts
  ngx-dotlottie-web/src/lib/components/dotlottie-web/dotlottie-web.component.css
  ngx-dotlottie-web/src/lib/components/dotlottie-web/dotlottie-web.component.spec.ts
  ngx-dotlottie-web/src/lib/components/dotlottie-web/dotlottie-web.component.ts
Due: format, lint, check:types

feat(ngx-dotlottie-web): Add DotLottieWebWorkerComponent with styles and unit tests
  ngx-dotlottie-web/src/lib/components/dotlottie-webworker/dotlottie-webworker.component.css
  ngx-dotlottie-web/src/lib/components/dotlottie-webworker/dotlottie-webworker.component.spec.ts
  ngx-dotlottie-web/src/lib/components/dotlottie-webworker/dotlottie-webworker.component.ts
Due: format, lint, check:types

feat(ngx-dotlottie-web): Add TypeScript configuration files for library, production, schematics, and testing
  ngx-dotlottie-web/tsconfig.lib.json
  ngx-dotlottie-web/tsconfig.lib.prod.json
  ngx-dotlottie-web/tsconfig.schematics.json
  ngx-dotlottie-web/tsconfig.spec.json
Due: format, lint

feat(ngx-dotlottie-web): Add schematics for ng-add functionality with schema and implementation
  ngx-dotlottie-web/schematics/collection.json
  ngx-dotlottie-web/schematics/ng-add/index.ts
  ngx-dotlottie-web/schematics/ng-add/schema.ts
Due: format, lint, check:types

feat(ngx-dotlottie-web): Add unit tests for DotLottieWebService
  ngx-dotlottie-web/src/lib/services/dotlottie-web/dotlottie-web.service.spec.ts
Due: format, lint, check:types

feat(ngx-dotlottie-demo): Add TypeScript configuration files
  ngx-dotlottie-demo/cypress/tsconfig.json
  ngx-dotlottie-demo/tsconfig.app.json
  ngx-dotlottie-demo/tsconfig.spec.json
Due: format, lint

feat(ngx-dotlottie-demo): Add Cypress configuration for end-to-end and component testing
  ngx-dotlottie-demo/cypress.config.ts
Due: format, lint, check:types

feat(ngx-dotlottie-demo): Initialize Angular application structure with routing, styling, and server configuration
  ngx-dotlottie-demo/public/favicon.ico
  ngx-dotlottie-demo/src/app/app.config.server.ts
  ngx-dotlottie-demo/src/app/app.config.ts
  ngx-dotlottie-demo/src/app/app.routes.server.ts
  ngx-dotlottie-demo/src/app/app.routes.ts
  ngx-dotlottie-demo/src/app/components/app/app.component.css
  ngx-dotlottie-demo/src/app/components/app/app.component.html
  ngx-dotlottie-demo/src/app/components/app/app.component.spec.ts
  ngx-dotlottie-demo/src/app/components/app/app.component.ts
  ngx-dotlottie-demo/src/custom-theme.scss
  ngx-dotlottie-demo/src/index.html
  ngx-dotlottie-demo/src/main.server.ts
  ngx-dotlottie-demo/src/main.ts
  ngx-dotlottie-demo/src/server.ts
  ngx-dotlottie-demo/src/styles.css
Due: format, lint, check:types

feat(ngx-dotlottie-demo): Implement DotlottieWebCanvas component with styling, template, and basic functionality
  ngx-dotlottie-demo/src/app/components/dotlottie-web-canvas/dotlottie-web-canvas.component.css
  ngx-dotlottie-demo/src/app/components/dotlottie-web-canvas/dotlottie-web-canvas.component.html
  ngx-dotlottie-demo/src/app/components/dotlottie-web-canvas/dotlottie-web-canvas.component.spec.ts
  ngx-dotlottie-demo/src/app/components/dotlottie-web-canvas/dotlottie-web-canvas.component.ts
Due: format, lint, check:types

feat(ngx-dotlottie-demo): Add DotlottieWebControls component with HTML, CSS, and basic functionality
  ngx-dotlottie-demo/src/app/components/dotlottie-web-controls/dotlottie-web-controls.component.css
  ngx-dotlottie-demo/src/app/components/dotlottie-web-controls/dotlottie-web-controls.component.cy.ts
  ngx-dotlottie-demo/src/app/components/dotlottie-web-controls/dotlottie-web-controls.component.html
  ngx-dotlottie-demo/src/app/components/dotlottie-web-controls/dotlottie-web-controls.component.ts
Due: format, lint, check:types

test(ngx-dotlottie-demo): Add Cypress support files and initial test setup for end-to-end testing
  ngx-dotlottie-demo/cypress/e2e/spec.cy.ts
  ngx-dotlottie-demo/cypress/support/commands.ts
  ngx-dotlottie-demo/cypress/support/component-index.html
  ngx-dotlottie-demo/cypress/support/component.ts
  ngx-dotlottie-demo/cypress/support/e2e.ts
Due: format, lint, check:types

test(ngx-dotlottie-demo): Add example JSON fixtures for testing Lottie animations
  ngx-dotlottie-demo/cypress/fixtures/example.json
  ngx-dotlottie-demo/cypress/fixtures/lottie.json
  ngx-dotlottie-demo/cypress/fixtures/test.json
  ngx-dotlottie-demo/cypress/fixtures/test.lottie
Due: format, lint

refactor(ngx-dotlottie-demo): Remove unused CSS styles from DotlottieWeb component
  ngx-dotlottie-web/src/lib/components/dotlottie-web/dotlottie-web.component.css
Due: format, lint

refactor(ngx-dotlottie-demo): Remove unused CSS styles from DotlottieWebWorker component
  ngx-dotlottie-web/src/lib/components/dotlottie-webworker/dotlottie-webworker.component.css
Due: format, lint

feat(ngx-dotlottie-demo): Enhance DotlottieWeb component with template outlet and improved canvas handling
  ngx-dotlottie-web/src/lib/components/dotlottie-web/dotlottie-web.component.ts
Due: format, lint, check:types

feat(ngx-dotlottie-web): Implement isTwoEqualObjects utility function with tests
  ngx-dotlottie-web/src/lib/utils/is-two-equal-objects/is-two-equal-objects.spec.ts
  ngx-dotlottie-web/src/lib/utils/is-two-equal-objects/is-two-equal-objects.ts
Due: format, lint, check:types

fix(ngx-dotlottie-web): Update import path for setWasmURL utility function
  ngx-dotlottie-web/src/lib/services/dotlottie-web/dotlottie-web.service.ts
  ngx-dotlottie-web/src/lib/utils/set-wasm/set-wasm.ts
Due: format, lint, check:types

feat(ngx-dotlottie-webworker): Enhance component template with ngTemplateOutlet and additional styles
  ngx-dotlottie-web/src/lib/components/dotlottie-webworker/dotlottie-webworker.component.ts
Due: format, lint, check:types

fix(ngx-dotlottie-demo): Correct component references and enable two-way data binding for dotlottieURL
  ngx-dotlottie-demo/src/app/components/dotlottie-web-canvas/dotlottie-web-canvas.component.html
  ngx-dotlottie-demo/src/app/components/dotlottie-web-canvas/dotlottie-web-canvas.component.ts
Due: format, lint, check:types

chore(vscode): Update file nesting patterns to include jest.setup.js and jest.env.js
  .vscode/settings.json
Due: format, lint

refactor(ngx-dotlottie-web): Change access modifiers to private for component properties
  ngx-dotlottie-web/src/lib/components/dotlottie-web/dotlottie-web.component.ts
Due: format, lint, check:types

feat: Add CI and coverage workflows, favicon, license, and security policy files
  .github/images/favicon512x512-npm.png
  .github/images/favicon512x512-npm.svg
  .github/images/figma-badge.png
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/delete-workflow-runs.yml
  .github/workflows/npm-publish.yml
  .vscode/settings.json
  LICENSE.md
  SECURITY.md
  angular.json
  renovate.json
Due: format, lint

feat: Update deployment configuration and package dependencies for gh-pages
  angular.json
  package.json
  pnpm-lock.yaml
Due: none

chore: Update VSCode settings, skip test for rendering lottie file, and remove ngx-dotlottie-web dependency
  .vscode/settings.json
  ngx-dotlottie-web/src/web/src/lib/components/dotlottie-web/dotlottie-web.component.spec.ts
  package.json
  pnpm-lock.yaml
Due: format, lint, check:types

feat: Add pnpm setup to CI, coverage, and npm publish workflows
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/npm-publish.yml
Due: format

feat: Migrate CI workflows from npm to pnpm for dependency management and testing
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/npm-publish.yml
Due: format

feat: Update npm publish workflow to include provenance and public access options
  .github/workflows/npm-publish.yml
Due: format

Path conditions:
  format: any of: **/*.{js,mjs,cjs,ts,mts,cts,json,md,*css,html,md,yml}
  lint: any of: **/*.{js,mjs,cjs,ts,mts,cts,json,md,*css,html,md}
  check:types: any of: **/*.{mts,ts}
